<div class="navbar-blue">
  <%= link_to "https://www.github.com/coughinbach", class: "btn nav-btn" do %>
    <i class="fab fa-github"></i>
  <% end %>
  <%= link_to cocktails_path, class: 'btn nav-btn' do %>
    <i class="fa fa-history"></i>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="form-container">
        <%= simple_form_for (@cocktail) do |f| %>
          <%= f.input :name, label: "name", placeholder: "get fancy!" %>
          <%= f.submit 'add to manager', class: 'btn btn-form' %>
          <%= f.input :photo, label: "add picture" %>
          <%= f.input :photo_cache, as: :hidden %>
        <% end %>
      </div>
    </div>
  </div>
</div>




